
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
</style>

<body onload="myFunction()">

    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

    <script>
        Dropzone.options.mydropzone = {
            maxFilesize: 500,
            init: function() {
                this.on("queuecomplete", function(file) {
                    @*alert("Added file.");*@
                    location.reload();
                });
            }
        };

    </script>

    @*<script>
        Dropzone.prototype.defaultOptions.dictDefaultMessage = "Drop files here to upload, or click";
        mydropzone.onclick.

    </script>*@


    <script>
        function myFunction() {

            @*alert("@ViewData["activepanel"]");*@
            var el = document.getElementById('@ViewData["activepanel"]');
            el.scrollIntoView(true);
            window.scrollBy(0, -65);

            @*$('html, body').animate({
                scrollTop: $("#@ViewData["activepanel"]").offset().top
            }, 500);*@
        }
    </script>



    @model List<DatabaseModel.Model.SmartCard>

    <p> Debug data:</p>
    <p> Number of cards in passed list: @Model.Count</p>
    <h2>@ViewData["nameOfCard"]</h2>
    <h2>@ViewData["tagID"]</h2>
    <h2>@ViewData["activepanel"]</h2>

    @* Top panel - information/description*@
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" id="paneltitle_0" href="#collapse_0">
                        # &nbsp; &emsp; &emsp; Status &emsp; &emsp; Cardname
                        <span class="pull-right glyphicon glyphicon-menu-down"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse_0" class="panel-collapse collapse in">
                <div class="panel-body">
                    Here you can edit your cards by connecting data to an empty card, or editing an existing card.
                </div>
            </div>
        </div>

        @* Smart-card panels - one pr card*@
        @for (int i = 1; i <= @Model.Count; i++)
        {
            <div class="@(@Model[i - 1].DataItems.Count > 0 ? "panel panel-success" : "panel panel-default")">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span data-toggle="collapse" data-parent="#accordion" id="paneltitle_@i" href="#collapse_@i">
                            #@Model[i - 1].TagId &emsp; &emsp;

                            @*formating, not in use
                                @(@Model[i - 1].TagId < 10 ? "yes" : "no")
                                @(@Model[i - 1].TagId < 100 ? "" : "")
                            *@

                            @(@Model[i - 1].DataItems.Count > 0 ? "Active" : "Empty") &emsp; &emsp; @Model[i - 1].Name
                            <span class="pull-right glyphicon glyphicon-menu-down"></span>
                    </h4>
                </div>
                <div id="collapse_@i" class="@( (int) @ViewData["tagID"] == (i) ? "panel-collapse collapse in" : "panel-collapse collapse")">
                    <div class="panel-body">

                        <form class="form-inline" role="form" method="post" action="OverviewSaveSmartcardName">
                            <div class="form-group">
                                @*<label for="nameOfCard">Name of Card:</label>*@
                                <input type="text" class="form-control" id="nameOfCard" name="nameOfCard" value="@Model[i - 1].Name" data-toggle="tooltip" title="Name of card">
                                <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                <button type="submit" class="btn btn-primary btn-sm glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Save new card name"></button>
                            </div>
                        </form>

                        <p></p>

                        @* Does the card have no dataitems? Then we can skip this, otherwise...*@
                        @if (Model[i - 1].DataItems.Count > 0)
                {
                            @* Make a top-panel for the data-items section*@
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="tooltip" title="List of all media files on this card">Media Content</div>

                                @* List all dataitems in this Smartcard*@
                                @for (int j = 0; j < Model[i - 1].DataItems.Count; j++)
                                {
                                    <div class="panel-body">
                                        <form class="form-inline" role="form" method="post" action="OverviewDeleteDataitem">
                                            <div class="form-group">

                                                <button type="submit" class="btn btn-danger btn-xs glyphicon glyphicon-remove" data-toggle="tooltip" title="Delete this mediafile"></button>
                                                <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                                <input type="hidden" class="form-control" id="dataItemID" name="dataItemID" value="@Model[i - 1].DataItems[j].Id">
                                                &emsp;&emsp;
                                                <label for="mediaType">
                                                    <span data-toggle="tooltip" title="Media type">@Model[i - 1].DataItems[j].Category</span>
                                                    &emsp; &emsp;
                                                    <span data-toggle="tooltip" title="Filename">@Model[i - 1].DataItems[j].Name</span>
                                                </label>

                                            </div>
                                        </form>
                                    </div>

                                }

                            </div>
                        }
                        <p></p>
                        @*<form class="form-inline" role="form" method="post" action="OverviewUploadDataitem">
                                <label class="btn btn-primary btn-sm glyphicon glyphicon-plus" for="my-file-selector" data-toggle="tooltip" title="Upoload new media file">
                                    <input id="my-file-selector" type="file" style="display:none;">
                                    Button Text Here
                                </label>
                            </form>*@

                        @*<form class="form-inline" role="form" method="post" action="@Url.Content("OverviewUploadDataitem")" enctype="multipart/form-data">
                                <label class="btn btn-default btn-sm" for="uploadfile" data-toggle="tooltip" title="Upload new media file">

                                    <input type="file" name="uploadfile" class="" id="uploadfile" style="display:none;" accept="image/*,video/*,.pdf" />
                                    <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">



                                    Click to add new file
                                    <input type="submit" name="Submit" value="Upload" class="btn btn-primary btn-sm" />
                                </label>
                            </form>
                        *@


                        @*<form class="form-inline" method="post" action="@Url.Content("OverviewUploadDataitem")" enctype="multipart/form-data">

                                <div class="field">
                                    <input type="file" name="uploadfile" class="" id="uploadfile" style="display:inline-block;" accept="image/*,video/*,.pdf" />
                                    <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">

                                    <input type="submit" name="Submit" value="Submit" class="btn btn-primary btn-sm" />
                                </div>

                            </form>*@

                        @*<form class="form-inline" method="post" action="@Url.Content("OverviewUploadDataitem")" enctype="multipart/form-data">
                                <div style="position:relative;">
                                    <a class='btn btn-primary btn-sm' href='javascript:;'>
                                        Select a new file...
                                        <input type="file" name="uploadfile" accept="image/*,video/*,.pdf" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'>
                                        <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                    </a>
                                    &nbsp;
                                    <span class='label label-info' id="upload-file-info"></span>

                                </div>
                                <p></p>
                                <input type="submit" name="Submit" value="Upload selected file" class="btn btn-primary btn-sm" />
                            </form>*@


                        @*<form class="form-inline" method="post" action="@Url.Content("OverviewUploadDataitem")" enctype="multipart/form-data">
                                <span class="btn btn-default btn-file">
                                    Select new file... <input type="file">
                                    <input type="file" name="uploadfile" class="" id="uploadfile" style="display:inline-block;" accept="image/*,video/*,.pdf" />
                                    <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">

                                </span>
                                <input type="submit" name="Submit" value="Upload selected" class="btn btn-primary" />
                            </form>*@

                        <form asp-action="OverviewUploadDataitemDZ" asp-controller="Home" method="post" enctype="multipart/form-data" class="dropzone" id="mydropzone">
                            <div class="dz-message" data-dz-message><span>Drop files to upload, or click to browse</span></div>
                            <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                        </form>

                    </div>
                </div>
            </div>
        }

    </div>



    @*

            POSSIBLE UPLOAD SOLUTION?


                                <div style="position:relative;">
                                <a class='btn btn-primary' href='javascript:;'>
                                    Choose File...
                                    <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'>
                                </a>
                                &nbsp;
                                <span class='label label-info' id="upload-file-info"></span>
                            </div>
        http://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button


                                <div>
                                    <label class="control-label">Select File</label>
                                    <input id="input-1" type="file" class="file">
                                </div>

            @(i == 1 ? "panel-collapse collapse in" : "panel-collapse collapse")

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Collapsible Group 1
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Collapsible Group 2
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            Collapsible Group 3
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </div>
                </div>
            </div>
        </div>


    *@
