@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Microsoft.AspNet.Mvc;
@using DatabaseModel;
@using Microsoft.Data.Entity;
@using Microsoft.AspNet.Http;
@using System.IO;
@using DatabaseModel.Model;
@using Microsoft.Net.Http.Headers;

<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
</style>

<body onload="scrollToActivePanel()">

    <script src="/js/dropzone.js"></script>
    <link rel="stylesheet" href="/css/dropzone.css">

    <script>

        var activetagID = null;

        Dropzone.options.mydropzone = {
            maxFilesize: 1000,
            acceptedFiles: ".3gp, .3g2, .avi, .mp4, .mpeg, .mpg, .avi, .mov, .wm, .wmv, .wmx, .bmp, .gif, .png, .jpg, .tiff, .ico, .pdf",
            parallelUploads: 1,
            init: function () {
                this.on("queuecomplete", function (file) {
                    @*alert("Added file.");*@
                    if (activetagID != null) {
                        window.location.href = 'Overview?tagID=' + activetagID;
                    }
                    else {
                        location.reload(true);
                    }

                });
                this.on("error", function (file, errorMessage) {
                    alert("A file did not upload correctly: " + file.name + "\n" + errorMessage);
                });

            }
        };


        Dropzone.options.DZcardimage = {
            maxFilesize: 10,
            acceptedFiles: ".bmp, .gif, .png, .jpg, .tiff, .ico",
            parallelUploads: 1,
            init: function () {
                this.on("queuecomplete", function (file) {
                    @*alert("Added file.");*@
                    if (activetagID != null) {
                        window.location.href = 'Overview?tagID=' + activetagID;
                    }
                    else {
                        location.reload(true);
                    }

                });
                this.on("error", function (file, errorMessage) {
                    alert("A file did not upload correctly: " + file.name + "\n" + errorMessage);
                });

            }
        };



        function scrollToActivePanel() {

            @*alert("@ViewData["activepanel"]");*@
            @*var el = document.getElementById('@ViewData["activepanel"]');
            el.scrollIntoView(true);*@

            @*window.scrollBy(0, -65);*@

            $('html, body').animate({
                scrollTop: $("#@ViewData["activePanel"]").offset().top - 55
            }, 700);


        }

        function setactivetagID(newactivetagID) {
            activetagID = newactivetagID;
        }
    </script>

    @model List<DatabaseModel.Model.SmartCard>

    @*<p> Debug data:</p>
        <p> Number of cards in passed list: @Model.Count</p>
        <h2>@ViewData["nameOfCard"]</h2>
        <h2>@ViewData["tagID"]</h2>
        <h2>@ViewData["tagIsActive"]</h2>
        <h2>@ViewData["activepanel"]</h2>
        <h2>@ViewData["firstEmptyIndex"]</h2>*@

    @* top spacer *@
    <p> </p>

    @* Top panel - information/description - ACTIVE CARDS*@
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary" data-toggle="collapse" data-parent="#accordion" id="paneltitle_-1" href="#collapse_-1">
            <div class="panel-heading">
                <h4 class="panel-title">
                    # &nbsp; &nbsp; &nbsp; &emsp; &emsp; Status &emsp; &emsp; Cardname (ID)&emsp; &emsp; (Active cards)
                    <span class="pull-right glyphicon glyphicon-menu-down"></span>
                </h4>
            </div>
            <div id="collapse_-1" class="@( (int) @ViewData["tagID"] == -1 ? "panel-collapse collapse in" : "panel-collapse collapse")">
                <div class="panel-body">
                    Here you can edit your cards by connecting data to an empty card, or edit an existing cards.<br />
                    Cards marked by green are active (have valid content on them).<br />
                    You can hover over all buttons/fields to get tooltip information.<br />
                    Accepted video formats: <b>.3gp, .3g2, .avi, .mp4, .mpeg, .mpg, .avi, .mov, .wm, .wmv, .wmx</b><br />
                    Accepted image formats: <b>.bmp, .gif, .png, .jpg, .tiff, .ico, .pdf</b><br />
                    Accepted document formats: <b>.pdf</b><br />
                    @if ((int)@ViewData["firstEmptyIndex"] == 0)
                    {
                        <font size="2" color="red">
                            There are currently no active smartcards. Use the Show/Hide empty cards button below and add some content to an empty card.<br />
                            Active (non-empty) cards will be moved to the top list automatically.
                        </font>
                    }
                </div>
            </div>
        </div>

        @* Smart-card panels - one pr card - ACTIVE CARDS*@
        @for (int i = 1; i <= (int)@ViewData["firstEmptyIndex"]; i++)
        {
            //Convert tagID to hexcode (show in smartcard bytetag)
            string hexValue = @Model[i - 1].TagId.ToString("X");

            <div onclick="setactivetagID(@( (int) Model[i - 1].TagId) )" class="@(@Model[i - 1].DataItems.Count > 0 ? "panel panel-success" : "panel panel-default")">
                <div class="panel-heading panel" data-toggle="collapse" data-parent="#accordion" id="paneltitle_@Model[i-1].TagId" href="#collapse_@Model[i-1].TagId">
                    <h4 class="panel-title">
                        <span>
                            #@Model[i - 1].TagId &emsp; &emsp;

                            @if (@Model[i - 1].TagId < 10)
                            {
                                <span>&nbsp;</span>
                            }
                            @if (@Model[i - 1].TagId < 100)
                            {
                                <span>&nbsp;</span>
                            }

                            @(@Model[i - 1].DataItems.Count > 0 ? "Active" : "Empty") &emsp; &emsp; @Model[i - 1].Name (@hexValue)
                            <span class="pull-right glyphicon glyphicon-menu-down"></span>
                    </h4>
                </div>
                <div id="collapse_@Model[i-1].TagId" class="@( (int) @ViewData["tagID"] == (@Model[i-1].TagId) ? "panel-collapse collapse in" : "panel-collapse collapse")">
                    <div class="panel-body">

                        <form class="form-inline" role="form" method="post" action="OverviewSaveSmartcardName">
                            <div class="form-group">
                                @*<label for="nameOfCard">Name of Card:</label>*@
                                <input type="text" class="form-control" id="nameOfCard" name="nameOfCard" value="@Model[i - 1].Name" data-toggle="tooltip" title="Name of card">
                                <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                <button type="submit" class="btn btn-primary btn-sm glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Save new card name"></button>
                            </div>
                        </form>

                        <p></p>

                        @*LOADING CARDIMAGE / DISPLAYING CARDIMAGE DROPZONE*@
                        @{
                            ABBDataContext context = new ABBDataContext();
                            int tagid = Model[i - 1].TagId;
                            var smartcard = context.SmartCards.First(a => a.TagId == tagid);

                            context.Entry(smartcard).Reference(a => a.CardImage).Load();

                            //var cardimage = smartcard.CardImage;
                            //var cardimagedata = smartcard.CardImage.DataField.Data;

                            if (smartcard.CardImage != null)
                            {
                                var cardImage = smartcard.CardImage;
                                context.Entry(cardImage).Reference(a => a.DataField).Load();

                                var base64 = Convert.ToBase64String(smartcard.CardImage.DataField.Data);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                <div class="panel-body">
                                    <form class="form-inline" role="form" method="post" action="OverviewDeleteCardimage">
                                        <span class="pull-left" STYLE="padding-top: 41px; padding-right: 37px">
                                            <div class="form-group">

                                                <button type="submit" class="btn btn-danger btn-xs glyphicon glyphicon-remove" data-toggle="tooltip" title="Delete this cardimage"></button>
                                                <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                                &emsp;&emsp;
                                            </div>
                                        </span>
                                        <img src="@imgSrc" width="180px" height="111px" style="border:1px solid black" data-toggle="tooltip" title="Cardimage" />
                                    </form>
                                </div>

                            }
                            else
                            {
                                @*DROPZONE FOR CARDIMAGE*@
                                <form asp-action="OverviewUploadDataitemDZcardimage" asp-controller="Home" method="post" enctype="multipart/form-data" class="dropzone" id="DZcardimage" style="width: 180px; height: 111px; min-height: 0px;">
                                    <div class="dz-message" data-dz-message><span>Add card-front image (drop image or click)</span></div>
                                    <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                </form>
                            }
                        }

                        <p></p>

                        @* Does the card have no dataitems? Then we can skip this, otherwise...*@
                        @if (Model[i - 1].DataItems.Count > 0)
                {
                            @* Make a top-panel for the data-items section*@
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="tooltip" title="List of all media files on this card">
                                    <h1 class="panel-title pull-left" STYLE="padding-top: 8px;">Media Content</h1>
                                    <span class="pull-right">
                                        <form class="form-inline" role="form" method="post" action="OverviewDeleteAllDataitems">
                                            <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                            <button type="submit" class="btn btn-sm btn-warning btn-sm glyphicon glyphicon-trash" data-toggle="tooltip" title="Delete ALL media items from card"></button>
                                        </form>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>

                                @*
                                    <button class="btn btn-default pull-right">asdadsad</button>
                                    <div class="clearfix"></div>
                                *@

                                @* List all dataitems in this Smartcard*@
                                @for (int j = 0; j < Model[i - 1].DataItems.Count; j++)
                                {
                                    <div class="panel-body">
                                        <form class="form-inline" role="form" method="post" action="OverviewDeleteDataitem">
                                            <div class="form-group">

                                                <button type="submit" class="btn btn-danger btn-xs glyphicon glyphicon-remove" data-toggle="tooltip" title="Delete this mediafile"></button>
                                                <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                                <input type="hidden" class="form-control" id="dataItemID" name="dataItemID" value="@Model[i - 1].DataItems.ElementAt(j).Id">
                                                &emsp;&emsp;
                                                <label for="mediaType">
                                                    <span data-toggle="tooltip" title="Media type">@Model[i - 1].DataItems.ElementAt(j).Category</span>
                                                    &emsp; &emsp;
                                                    <span data-toggle="tooltip" title="Filename">@Model[i - 1].DataItems.ElementAt(j).Name</span>
                                                </label>

                                            </div>
                                        </form>
                                    </div>

                                }

                            </div>
                        }
                        <p></p>

                        @*OLD STYLE UPLOAD FORM NOT IN USE*@
                        @*<form class="form-inline" method="post" action="@Url.Content("OverviewUploadDataitemDZ")" enctype="multipart/form-data">
                                <span class="btn btn-default btn-file">
                                    Select new file... <input type="file">
                                    <input type="file" name="file" class="" id="file" style="display:inline-block;" accept="image/*,video/*,.pdf" />
                                    <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">

                                </span>
                                <input type="submit" name="Submit" value="Upload selected" class="btn btn-primary" />
                            </form>*@

                        @*DROPZONE STYLE UPLOAD FORM*@
                        <form asp-action="OverviewUploadDataitemDZ" asp-controller="Home" method="post" enctype="multipart/form-data" class="dropzone" id="mydropzone">
                            <div class="dz-message" data-dz-message><span>Add media files (drop files or click)</span></div>
                            <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                        </form>

                    </div>
                </div>
            </div>
                            }


        @*SPACING*@
        <br /><br /><br />




        <div class="panel-group">
            <div>
                @*<b>Click to Show/Hide empty cards</b>*@
                <button type="button" class="btn btn-warning" data-toggle="collapse" href="#collapse_emptylist">Show/Hide empty cards</button>
                <div id="collapse_emptylist" class="@( (bool) @ViewData["tagIsActive"] ? "panel-collapse collapse" : "panel-collapse collapse in")">
                    @*<div class="panel-body">Panel Body</div>*@

                    @* Top panel - information/description - EMPTY CARDS*@
                    <div class="panel-group" id="accordion2">
                        <div class="panel panel-primary" data-toggle="collapse" data-parent="#accordion" id="paneltitle_-2" href="#collapse_-2">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    # &nbsp; &nbsp; &nbsp; &emsp; &emsp; Status &emsp; &emsp; Cardname (ID)&emsp; &emsp; (Empty Cards)
                                    <span class="pull-right glyphicon glyphicon-menu-down"></span>
                                </h4>
                            </div>
                            <div id="collapse_-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    These smartcards are currently empty. Adding content to them will move them up to the active list.<br />
                                </div>
                            </div>
                        </div>

                        @* Smart-card panels - one pr card - EMPTY CARDS*@
                        @for (int i = ((int)@ViewData["firstEmptyIndex"] + 1); i <= Model.Count; i++)
                        {

                            //Convert tagID to hexcode (show in smartcard bytetag)
                            string hexValue = @Model[i - 1].TagId.ToString("X");

                            <div onclick="setactivetagID(@( (int) Model[i - 1].TagId) )" class="@(@Model[i - 1].DataItems.Count > 0 ? "panel panel-success" : "panel panel-default")">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" id="paneltitle_@Model[i-1].TagId" href="#collapse_@Model[i-1].TagId">
                                    <h4 class="panel-title">
                                        <span>
                                            #@Model[i - 1].TagId &emsp; &emsp;

                                            @if (@Model[i - 1].TagId < 10)
                                            {
                                                <span>&nbsp;</span>
                                            }
                                            @if (@Model[i - 1].TagId < 100)
                                            {
                                                <span>&nbsp;</span>
                                            }

                                            @(@Model[i - 1].DataItems.Count > 0 ? "Active" : "Empty") &emsp; &emsp; @Model[i - 1].Name (@hexValue)
                                            <span class="pull-right glyphicon glyphicon-menu-down"></span>
                                    </h4>
                                </div>
                                <div id="collapse_@Model[i-1].TagId" class="@( (int) @ViewData["tagID"] == (@Model[i-1].TagId) ? "panel-collapse collapse in" : "panel-collapse collapse")">
                                    <div class="panel-body">

                                        <form class="form-inline" role="form" method="post" action="OverviewSaveSmartcardName">
                                            <div class="form-group">
                                                @*<label for="nameOfCard">Name of Card:</label>*@
                                                <input type="text" class="form-control" id="nameOfCard" name="nameOfCard" value="@Model[i - 1].Name" data-toggle="tooltip" title="Name of card">
                                                <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                                <button type="submit" class="btn btn-primary btn-sm glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Save new card name"></button>
                                            </div>
                                        </form>

                                        <p></p>

                                        @*LOADING CARDIMAGE / DISPLAYING CARDIMAGE DROPZONE*@
                                        @{
                                            ABBDataContext context = new ABBDataContext();
                                            int tagid = Model[i - 1].TagId;
                                            var smartcard = context.SmartCards.First(a => a.TagId == tagid);

                                            context.Entry(smartcard).Reference(a => a.CardImage).Load();

                                            //var cardimage = smartcard.CardImage;
                                            //var cardimagedata = smartcard.CardImage.DataField.Data;

                                            if (smartcard.CardImage != null)
                                            {
                                                var cardImage = smartcard.CardImage;
                                                context.Entry(cardImage).Reference(a => a.DataField).Load();

                                                var base64 = Convert.ToBase64String(smartcard.CardImage.DataField.Data);
                                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                                <div class="panel-body">
                                                    <form class="form-inline" role="form" method="post" action="OverviewDeleteCardimage">
                                                        <span class="pull-left" STYLE="padding-top: 41px; padding-right: 37px">
                                                            <div class="form-group">

                                                                <button type="submit" class="btn btn-danger btn-xs glyphicon glyphicon-remove" data-toggle="tooltip" title="Delete this cardimage"></button>
                                                                <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                                                &emsp;&emsp;
                                                            </div>
                                                        </span>
                                                        <img src="@imgSrc" width="180px" height="111px" style="border:1px solid black" />
                                                    </form>
                                                </div>

                                            }
                                            else
                                            {
                                                @*DROPZONE FOR CARDIMAGE*@
                                                <form asp-action="OverviewUploadDataitemDZcardimage" asp-controller="Home" method="post" enctype="multipart/form-data" class="dropzone" id="DZcardimage" style="width: 180px; height: 111px; min-height: 0px;">
                                                    <div class="dz-message" data-dz-message><span>Add card-front image (drop image or click)</span></div>
                                                    <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                                </form>
                                            }
                                        }

                                        <p></p>

                                        @* Does the card have no dataitems? Then we can skip this, otherwise...*@
                                        @if (Model[i - 1].DataItems.Count > 0)
                {
                                            @* Make a top-panel for the data-items section*@
                                            <div class="panel panel-default">
                                                <div class="panel-heading" data-toggle="tooltip" title="List of all media files on this card">
                                                    Media Content
                                                    <span class="pull-right">
                                                        <form class="form-inline" role="form" method="post" action="OverviewDeleteAllDataitems">
                                                            <div class="form-group">
                                                                <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                                                <button type="submit" class="btn btn-sm btn-warning btn-sm glyphicon glyphicon-trash" data-toggle="tooltip" title="Delete ALL media items from card"></button>
                                                            </div>
                                                        </form>
                                                    </span>
                                                </div>

                                                @* List all dataitems in this Smartcard*@
                                                @for (int j = 0; j < Model[i - 1].DataItems.Count; j++)
                                                {
                                                    <div class="panel-body">
                                                        <form class="form-inline" role="form" method="post" action="OverviewDeleteDataitem">
                                                            <div class="form-group">

                                                                <button type="submit" class="btn btn-danger btn-xs glyphicon glyphicon-remove" data-toggle="tooltip" title="Delete this mediafile"></button>
                                                                <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                                                <input type="hidden" class="form-control" id="dataItemID" name="dataItemID" value="@Model[i - 1].DataItems.ElementAt(j).Id">
                                                                &emsp;&emsp;
                                                                <label for="mediaType">
                                                                    <span data-toggle="tooltip" title="Media type">@Model[i - 1].DataItems.ElementAt(j).Category</span>
                                                                    &emsp; &emsp;
                                                                    <span data-toggle="tooltip" title="Filename">@Model[i - 1].DataItems.ElementAt(j).Name</span>
                                                                </label>

                                                            </div>
                                                        </form>
                                                    </div>

                                                }

                                            </div>
                                        }
                                        <p></p>

                                        @*OLD STYLE UPLOAD FORM NOT IN USE*@
                                        @*<form class="form-inline" method="post" action="@Url.Content("OverviewUploadDataitemDZ")" enctype="multipart/form-data">
                                                <span class="btn btn-default btn-file">
                                                    Select new file... <input type="file">
                                                    <input type="file" name="file" class="" id="file" style="display:inline-block;" accept="image/*,video/*,.pdf" />
                                                    <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">

                                                </span>
                                                <input type="submit" name="Submit" value="Upload selected" class="btn btn-primary" />
                                            </form>*@

                                        @*DROPZONE STYLE OPLOAD FORM*@
                                        <form asp-action="OverviewUploadDataitemDZ" asp-controller="Home" method="post" enctype="multipart/form-data" class="dropzone" id="mydropzone">
                                            <div class="dz-message" data-dz-message><span>Add media files (drop files or click)</span></div>
                                            <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                        </form>

                                    </div>
                                </div>
                            </div>
                                            }

                        @*<div class="panel-footer">Panel Footer</div>*@
                    </div>
                </div>
            </div>





        </div>
