<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
</style>

<body onload="scrollToActivePanel()">

    <script src="/js/dropzone.js"></script>
    <link rel="stylesheet" href="/css/dropzone.css">

    <script>

        var activetagID = null;

        Dropzone.options.mydropzone = {
            maxFilesize: 1000,
            acceptedFiles: ".3gp, .3g2, .avi, .mp4, .mpeg, .mpg, .avi, .mov, .wm, .wmv, .wmx, .bmp, .gif, .png, .jpg, .tiff, .ico, .pdf",
            parallelUploads: 1,
            init: function () {
                this.on("queuecomplete", function (file) {
                    @*alert("Added file.");*@
                    if (activetagID != null) {
                        window.location.href = 'Overview?tagID=' + activetagID;
                    }
                    else {
                        location.reload(true);
                    }

                });
                this.on("error", function (file, errorMessage) {
                    alert("A file did not upload correctly: " + file.name + "\n" + errorMessage);
                });

            }
        };

        function scrollToActivePanel() {

            @*alert("@ViewData["activepanel"]");*@
            @*var el = document.getElementById('@ViewData["activepanel"]');
            el.scrollIntoView(true);*@

            @*window.scrollBy(0, -65);*@

            $('html, body').animate({
                scrollTop: $("#@ViewData["activePanel"]").offset().top-55
            }, 700);


        }

        function setactivetagID(newactivetagID) {
            activetagID = newactivetagID;
        }
    </script>

    @model List<DatabaseModel.Model.SmartCard>

    @*<p> Debug data:</p>
    <p> Number of cards in passed list: @Model.Count</p>
    <h2>@ViewData["nameOfCard"]</h2>
    <h2>@ViewData["tagID"]</h2>
    <h2>@ViewData["activepanel"]</h2>*@

    @* top spacer *@
    <p> </p>

    @* Top panel - information/description*@
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary" data-toggle="collapse" data-parent="#accordion" id="paneltitle_-1" href="#collapse_-1">
            <div class="panel-heading">
                <h4 class="panel-title">
                    # &nbsp; &emsp; &emsp; Status &emsp; &emsp; Cardname
                    <span class="pull-right glyphicon glyphicon-menu-down"></span>
                </h4>
            </div>
            <div id="collapse_-1" class="@( (int) @ViewData["tagID"] == -1 ? "panel-collapse collapse in" : "panel-collapse collapse")">
                <div class="panel-body">
                    Here you can edit your cards by connecting data to an empty card, or edit an existing cards.<br />
                    Cards marked by green are active (have valid content on them).<br />
                    You can hover over all buttons/fields to get tooltip information.<br />
                    Accepted video formats: <b>.3gp, .3g2, .avi, .mp4, .mpeg, .mpg, .avi, .mov, .wm, .wmv, .wmx</b><br />
                    Accepted image formats: <b>.bmp, .gif, .png, .jpg, .tiff, .ico, .pdf</b><br />
                    Accepted document formats: <b>.pdf</b>
                </div>
            </div>
        </div>

        @* Smart-card panels - one pr card*@
        @for (int i = 1; i <= @Model.Count; i++)
        {
            <div onclick="setactivetagID(@( (int) Model[i - 1].TagId) )" class="@(@Model[i - 1].DataItems.Count > 0 ? "panel panel-success" : "panel panel-default")">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" id="paneltitle_@Model[i-1].TagId" href="#collapse_@Model[i-1].TagId">
                    <h4 class="panel-title">
                        <span>
                            #@Model[i - 1].TagId &emsp; &emsp;

                            @*formating, not in use
                                @(@Model[i - 1].TagId < 10 ? "yes" : "no")
                                @(@Model[i - 1].TagId < 100 ? "" : "")
                            *@

                            @(@Model[i - 1].DataItems.Count > 0 ? "Active" : "Empty") &emsp; &emsp; @Model[i - 1].Name
                            <span class="pull-right glyphicon glyphicon-menu-down"></span>
                    </h4>
                </div>
                <div id="collapse_@Model[i-1].TagId" class="@( (int) @ViewData["tagID"] == (@Model[i-1].TagId) ? "panel-collapse collapse in" : "panel-collapse collapse")">
                    <div class="panel-body">

                        <form class="form-inline" role="form" method="post" action="OverviewSaveSmartcardName">
                            <div class="form-group">
                                @*<label for="nameOfCard">Name of Card:</label>*@
                                <input type="text" class="form-control" id="nameOfCard" name="nameOfCard" value="@Model[i - 1].Name" data-toggle="tooltip" title="Name of card">
                                <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                <button type="submit" class="btn btn-primary btn-sm glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Save new card name"></button>
                            </div>
                        </form>

                        <p></p>

                        @* Does the card have no dataitems? Then we can skip this, otherwise...*@
                        @if (Model[i - 1].DataItems.Count > 0)
                {
                            @* Make a top-panel for the data-items section*@
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="tooltip" title="List of all media files on this card">
                                    Media Content
                                    <span class="pull-right">
                                        <form class="form-inline" role="form" method="post" action="OverviewDeleteAllDataitems">
                                            <div class="form-group">
                                                <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                                <button type="submit" class="btn btn-sm btn-warning btn-sm glyphicon glyphicon-trash" data-toggle="tooltip" title="Delete ALL media items from card"></button>
                                            </div>
                                        </form>
                                    </span>
                                </div>

                                @* List all dataitems in this Smartcard*@
                                @for (int j = 0; j < Model[i - 1].DataItems.Count; j++)
                                {
                                    <div class="panel-body">
                                        <form class="form-inline" role="form" method="post" action="OverviewDeleteDataitem">
                                            <div class="form-group">

                                                <button type="submit" class="btn btn-danger btn-xs glyphicon glyphicon-remove" data-toggle="tooltip" title="Delete this mediafile"></button>
                                                <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                                                <input type="hidden" class="form-control" id="dataItemID" name="dataItemID" value="@Model[i - 1].DataItems.ElementAt(j).Id">
                                                &emsp;&emsp;
                                                <label for="mediaType">
                                                    <span data-toggle="tooltip" title="Media type">@Model[i - 1].DataItems.ElementAt(j).Category</span>
                                                    &emsp; &emsp;
                                                    <span data-toggle="tooltip" title="Filename">@Model[i - 1].DataItems.ElementAt(j).Name</span>
                                                </label>

                                            </div>
                                        </form>
                                    </div>

                                }

                            </div>
                        }
                        <p></p>

                        @*OLD STYLE UPLOAD FORM NOT IN USE*@
                        @*<form class="form-inline" method="post" action="@Url.Content("OverviewUploadDataitemDZ")" enctype="multipart/form-data">
                                <span class="btn btn-default btn-file">
                                    Select new file... <input type="file">
                                    <input type="file" name="file" class="" id="file" style="display:inline-block;" accept="image/*,video/*,.pdf" />
                                    <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">

                                </span>
                                <input type="submit" name="Submit" value="Upload selected" class="btn btn-primary" />
                            </form>*@

                        @*DROPZONE STYLE OPLOAD FORM*@
                        <form asp-action="OverviewUploadDataitemDZ" asp-controller="Home" method="post" enctype="multipart/form-data" class="dropzone" id="mydropzone">
                            <div class="dz-message" data-dz-message><span>Drop files to upload, or click to browse</span></div>
                            <input type="hidden" class="form-control" id="tagID" name="tagID" value="@Model[i - 1].TagId">
                        </form>

                    </div>
                </div>
            </div>
        }

    </div>
